.container {
	width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
	align-items: center;
	justify-content: center;
    background-color: #E0E0E0;
    background-size: cover;
    background-repeat: no-repeat;
}

.paperContainer {
	height: 500px;
	width: 600px;
	padding: 40px;
	display: flex;
}

.formContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.formTitle {
	color: #616161;
	text-align: center;
}

.fieldWrapper {
	flex-grow: 2;
}

.newFeedbackField {
	margin-top: 20px;
}

.successContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.successIcon {
	font-size: 100px;
	margin-bottom: 20px;
	color: green;
}

.newFeedbackBtn {
	margin-top: 20px;
}
