.tabsContainer {
}

.paper {
	min-height: 300px;
	width: 300px;
}
.tabContainer {
	display: flex;
    flex-direction: column;
	padding: 20px;
}

.container {
	display: flex;
	width: 100%;
    height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: #f9f9f9;
    background-image: url(/images/crowd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.formTitle {
	text-align: center;
}

.formUsername {
}

.formSubmitBtn {
	margin-top: 50px;
}
