.tabsContainer {
}

.paper {
	min-height: 300px;
	max-height: 600px;
	width: 300px;
}
.tabContainer {
	display: flex;
    flex-direction: column;
	max-height: 400px;
	overflow-y: auto;
	padding: 20px;
}

.container {
	display: flex;
	width: 100%;
    height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: #f9f9f9;
    background-image: url(/images/crowd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.companyHeader {
	margin: 25px 0 0 0;
}

.formFields {
	flex-grow: 2;
}

.formUsername {
}

.formSubmitBtn {
	margin-top: 50px;
}
