.App {
	width: 100%;
    font-size: 16px;
    background-color: #f9f9f9;
    background-image: url(/images/crowd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
}